body {
    display: flex;
    margin: 0;
    background-color: #01c256;
    flex-direction: column;
    align-items: center;
}

.tittleUp{
    display:flex;
}


.allMyForm{
background-color: white;
width: 550px;
}

.nameTittle, .passwordTittle, .identifyTittle, .ageTittle{
    margin-bottom: 15px;
}

.programationLenguages{
    display: flex;
}